* {
    margin: 0;
    box-sizing: border-box;
}

#landing {
    height: 100svb;
    display: grid;
    grid-template-columns: 2fr 1fr;
}


#headline {
    font-size: 12rem;
    position: absolute;
    font-weight: 400;
    font-family: 'Martel Sans', sans-serif;
}

.img-container {
    max-width: 65svw;
}

#img-hero {
    width: 100%;
}